<h1>Clients</h1>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<% if logged_in? %>
    <%= link_to 'Log out', logout_path, method: :delete %>
<% end %>

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th><th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
